version: 2.1
jobs:
  build:
    docker:
      - image: licja/ovftool-packer-openfaas:0.3
    steps:
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'